<!doctype html>
<html>
<head>
    <title>New Student Info Form</title>
</head>
<body>
    <h1>Please enter student inforamtion below.</h1>
    <form action="/add-student">
    <label>Enter First Name
        <input type="text" name="firstname">
    </label>
    <br><br>
    <label>Enter Last Name
        <input type="text" name="lastname">
        <br><br>
    <label>Github Account Username
        <input type="text" name="new_github"
    </label><br><br>
    <input type="submit" value="Submit Form">
</form>


<p></p>
</body>
</html>